

<%- form_for @user, new_user_session do |f| %>

    <div>
        <%= f.label :name, "What is your name?" %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.submit "Next" %>
    </div>

    <% end %>