<%= form_with(model: @survey, url: wizard_path) do |form| %>
  <div>
    <%= form.label :question12, "Additional comments about your vending or event management experience" %>
    <%= form.text_area :question12 %>
  </div>
  <div>
    <%= form.submit "Next" %>
  </div>
<% end %>