<%= form_with(model: @survey, url: wizard_path) do |form| %>
  <div>
    <%= form.label :question6, "Tell me about a time when you were planning or managing an event. What went well? What was difficult?" %>
    <%= form.text_area :question6 %>
  </div>
  <div>
    <%= form.submit "Next" %>
  </div>
<% end %>