<%= form_with(model: @survey, url: wizard_path) do |form| %>
  <div>
    <%= form.label :question11, "Do you like to keep a record of your event history? What kind of data is relevant to store?" %>
    <%= form.text_area :question11 %>
  </div>
  <div>
    <%= form.submit "Next" %>
  </div>
<% end %>