<%= form_with(model: @survey, url: wizard_path) do |form| %>
  <div>
    <%= form.label :question2, "What, if any, methods have you tried in the past?" %>
    <%= form.text_area :question2 %>
  </div>
  <div>
    <%= form.submit "Next" %>
  </div>
<% end %>