<%= form_with(model: @survey, url: wizard_path) do |form| %>
  <div>
    <%= form.label :question5, "What is the hardest part about managing events?" %>
    <%= form.text_area :question5 %>
  </div>
  <div>
    <%= form.submit "Next" %>
  </div>
<% end %>