<%= form_with(model: @survey, url: wizard_path) do |form| %>
  <div>
    <%= form.label :question7, "What is your biggest challenge when planning events?" %>
    <%= form.text_area :question7 %>
  </div>
  <div>
    <%= form.submit "Next" %>
  </div>
<% end %>